<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rcorp.app.futurewallet">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.rcorp.app.futurewallet.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rcorp.app.futurewallet.AboutPage"
            android:theme="@style/About"></activity>
        <activity android:name="com.rcorp.app.futurewallet.AppTour" />
        <activity android:name="com.rcorp.app.futurewallet.Introduce" />
        <activity
            android:name="com.rcorp.app.futurewallet.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.rcorp.app.futurewallet.RegisterActivity" />

        <service
            android:name="com.rcorp.app.futurewallet.FireBaseNotifications"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.rcorp.app.futurewallet.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme" />
        <activity android:name="com.rcorp.app.futurewallet.SendRequestActivity" />
        <activity android:name="com.rcorp.app.futurewallet.IncomingRequest" />
        <activity android:name="com.rcorp.app.futurewallet.Friend" />
        <activity android:name="com.rcorp.app.futurewallet.MyAddedRequest" />
        <activity android:name="com.rcorp.app.futurewallet.AddTransaction" />
        <activity android:name="com.rcorp.app.futurewallet.WithFriendRecord" />
        <activity
            android:name="com.rcorp.app.futurewallet.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rcorp.app.futurewallet.QRcode" />
        <activity android:name="com.rcorp.app.futurewallet.ResetPassword" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9290929472111248~4486618072" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
    </application>

</manifest>