<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rival.moneytracker">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutPage"
            android:theme="@style/About"></activity>
        <activity android:name=".AppTour" />
        <activity android:name=".Introduce" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".RegisterActivity" />

        <service
            android:name=".FireBaseNotifications"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme" />
        <activity android:name=".SendRequestActivity" />
        <activity android:name=".IncomingRequest" />
        <activity android:name=".Friend" />
        <activity android:name=".MyAddedRequest" />
        <activity android:name=".AddTransaction" />
        <activity android:name=".WithFriendRecord" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRcode" />
        <activity android:name=".ResetPassword" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9290929472111248~4486618072" />
    </application>

</manifest>